{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Статьи</title>

    <link href="{% sass_src 'css/styles.scss' %}" rel="stylesheet" type="text/css" />
    <link href="{% sass_src 'css/home/styles.scss' %}" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="articles">
      {% for article in articles %}
      <a id="article-image" href="{% url 'article_detail' article.pk %}" class="article">
        <div class="image">
          {% if article.picture  %}
                  <img src="{{ article.picture.url }}" alt="{{ article.topic }}" />
          {% endif %}
        </div>

        <div class="body">
          <h2>{{ article.topic }}</h2>

          <span>{{ article.date }}</span>
        </div>
      </a>
      {% endfor %}
    </div>

{#    <script>#}
{#   function changeImageSrc() {#}
{#       const imgs = document.querySelectorAll(".image img");#}
{#       imgs.forEach(img => {#}
{#           console.log(img)#}
{#       })#}
{#   }#}
{##}
{#   changeImageSrc()#}
{#  </script>#}

  </body>
</html>
